.btn-link{
    border: 1px solid var(--color-darck-blue);
    max-width: 170px;
    text-align: center;
    margin: 0 auto 20px;
    @include media('<tablet') {
      max-width: 141px;
      height: 42px;
    }

     a {
      font-weight: bold;
      font-size: 14px;
      transition: opacity 0.3s;
      display: inline-block;
      padding: 16px;
      text-decoration: none;
      color: var(--color-darck-blue);
      margin-right: 5px;
       @include media('<tablet'){
         font-size: 12px;
         font-weight: bold;
         padding: 11px;
       }
      &:hover {
        opacity: 0.5;
      }
      span{
        transform: rotate(-90deg);
        width: 17px;
        padding: 0 4px 0 0;
      }
    }

}
.btn {
  font-size: 14px;
  font-weight: bold;
  min-width: 170px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
  transition: opacity 0.3s;
  margin: 40px 0 0;
  align-items: center;
  text-align: center;
  padding: 14px 15px;
  @include media('<tablet') {
    min-width: 142px;
    font-size: 12px;
    margin: 20px 0 0;
  }
  &:hover {
    opacity: 0.5;
  }
}