.contact{
  margin-bottom: 100px;
&__sub-title{
  max-width: 794px;
  margin: 0 auto 56px;

  h3{
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }
}
  &__title{
    @extend %title;
    h1{
      font-weight: 300;
    }
  }
  &__cards{
    display: flex;
    max-width: 876px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__card{
    text-align: center;
    max-width: 300px;
    @include media('<tablet'){
      margin: 0 auto 40px;
    }
  }
  &__card-title{
    margin-bottom: 28px;
    display: block;
    font-size: 18px;

    &:after{
      display: block;
      content: "";
      width: 10px;
      margin: 9px auto 0;
      border: 1px solid black;
    }

  }
  &__card-image-holder{
    img{
      width: 220px;
    }
    margin-bottom: 25px;
  }
  &__card-info{
    max-width: 246px;
    margin: 0 auto;
  }
  &__card-address{
    margin: 0 auto 20px;

    span{
      display: block;
      font-size: 14px;
      line-height: 1.43;
    }
  }
  &__card-contacts{
    text-align: left;
    font-size: 14px;
    span{
      display: block;
      line-height: 1.43;
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
}
