.hero-section {
  height: 100vh;
  margin-bottom: 68px;
  &__video-container {
    position: relative;
    &-img {
      position: absolute;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .hero-section__bg-video {
      position: absolute;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @include media('<desktop') {
        display: none;
      }
    }
  }
  &__title{
   @extend %title;
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &:after{
      border-color: var(--color-white);
      margin-top: 0;
    }

   &-item{
     color: var(--color-white);
     font-size: 23px;
     min-width: 290px;
     max-width: 290px;
     font-weight: 300;


   }
    @include media("<desktop"){
      display: block;
    }
  }

  &__btn-go-bott {
    position: absolute;
    font-size: 27px;
    bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    &-link{
      text-decoration: none;
    }
    &-arrow {
      border: 1px solid var(--color-white);
      padding:0 18px 12px;
      color: var(--color-white);
      @include media('<tablet') {
        padding: 3px 13px;
        font-size: 22px;
      }
    }
  }
  &__pause-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    font-size: 18px;
    color: var(--color-white);
    svg {
      font-size: 36px;
    }
    @include media('<desktop') {
      display: none;
    }
  }
}
