.management-section {
  margin-bottom: 42px;
  @include media('<tablet'){
    margin-bottom: 41px;
  }
  &__wrapper {
    max-width: 1000px;
  }
  &__title {
    @include media('<phone'){
      margin-bottom: -10px;
    }
  }
  &__person-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 61px 0 0;
    @include media('<tablet') {
      margin: 0 0 46px;
      justify-content: space-evenly;
    }
  }
  &__person-card {
    min-height: 300px;
    max-width: 225px;
    padding: 0 20px;
    align-items: center;
    @include media('<tablet') {
      padding: 33px 10px 0 10px;
      min-height: 100%;
      max-width: 170px;
    }
    @include media('<phone'){
      max-width: 107px;
      padding: 18px 0 0 0;
    }
  }
  &__person-photo {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px;
    img{
      border-radius: 50%;
    }
    @include media('<tablet') {
      width: 90px;
      height: 90px;
    }
    @include media('<phone'){
      margin: 0 auto 4px;
    }
  }
  &__person-info {
    text-align: center;
    margin-bottom: 2px;
    .person__name {
      font-size: 18px;
      @include media('<tablet') {
        font-size: 14px;
      }

    }
    .person__position {
      font-size: 14px;
      @include media('<tablet') {
        font-size: 12px;
      }
    }
  }

  &__person-social {
    color: var(--color-darck-blue);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    @include media('<tablet') {
      margin-top: 5px;
    }
    a {
      text-decoration: none;
    }
    a:nth-child(2) {
      margin-left: 10px;
    }

    @include media('<tablet') {
      span {
        display: none;
      }
    }
  }
}
