.form-questions-section {
  background-color: var(--color-darck-blue);
  padding: 70px 0 105px;
  @include media('<tablet') {
    padding: 35px 0 50px;
  }

  &__title {
    @extend %title;
    margin-bottom: 0;

    h1 {
      font-weight: 300;
      font-style: italic;
      color: var(--color-white)
    }
  }

  &__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    @include media('<tablet') {
      padding: 0 30px;
    }
  }

  &__text {
    font-size: 18px;
    text-align: center;
    color: var(--color-white);

    @include media('<tablet') {
      font-size: 14px;
      margin: 16px 0 12px;
    }
  }

  &__form {
    width: 100%;
    max-width: 735px;
    display: flex;
    flex-wrap: wrap;
    @include media('<tablet') {
      max-width: 535px;
      flex-direction: column;
    }

    input {
      border: none;
      max-width: 353px;
      height: 50px;
      @include media('<tablet') {
        max-width: 100%;
        height: 35px;
      }
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    @include media('<tablet') {
      width: 100%;
      margin: 0 0 20px;
    }
  }
  &__note {
    width: 100%;
    font-weight: 700;
    color: var(--color-white);
    opacity: 0.5;
    margin: 0 0 8px 8px;
    @include media('<tablet') {
      font-size: 12px;
    }
  }

  &__input {
    width: 353px;
    background-color: rgba(255, 255, 255, 0.1);

    &:not(:last-child) {
      margin: 0 0 20px;
    }

    @include media('<tablet') {
      width: 100%;
      font-size: 12px;
    }
  }

  &__textarea {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 353px;
    min-height: 150px;
    font-weight: bold;
    font-size: 14px;
    @include media('<tablet') {
      width: 100%;
      font-size: 12px;
    }
  }
  &__btn {
    margin: 40px 0 0;
    align-items: center;
    min-width: 170px;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid var(--color-white);
    padding: 14px 15px;
    color: var(--color-white);
    transition: opacity 0.3s;
    @include media('<tablet') {
      min-width: 142px;
      font-size: 12px;
      margin: 20px 0 0;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
