.form-questions-section {
  background-color: #1a3255;
  padding: 70px 0 105px;
  @include media('<tablet') {
    padding: 35px 0 50px;
  }
  &__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 0 auto;
    @include media('<tablet') {
      padding: 0 30px;
    }
  }
  &__text {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 35px 0 18px;
    @include media('<tablet') {
      font-size: 14px;
      margin: 16px 0 12px;
    }
  }
  &__form {
    width: 100%;
    max-width: 735px;
    display: flex;
    flex-wrap: wrap;
    @include media('<tablet') {
      max-width: 535px;
      flex-direction: column;
    }
    input {
      border:none;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    @include media('<tablet') {
      width: 100%;
      margin: 0 0 20px;
    }
  }
  &__note {
    width: 100%;
    font-weight: 700;
    color: white;
    opacity: 0.5;
    margin: 0 0 8px 8px;
  }
  &__input {
    width: 353px;
    background-color: rgba(255, 255, 255, 0.1);
    &:not(:last-child) {
      margin: 0 0 20px;
    }
    @include media('<tablet') {
      width: 100%;
    }
  }
  &__textarea {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 353px;
    min-height: 150px;
    @include media('<tablet') {
      width: 100%;
    }
  }
  &__btn {
    margin: 40px 0 0;
    align-items: center;
    min-width: 170px;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 14px 15px;
    color: white;
    @include media('<tablet') {
      min-width: 142px;
      font-size: 12px;
    }
    @include media('<tablet') {
      margin: 20px 0 0;
    }
  }
}
