.resources {
  margin-bottom: 58px;

  &__wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__title {
    @extend %title;

    h1 {
      font-weight: 400;
    }
  }

  &__link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:after {
      content: url("../../images/btn_arrow2.png");
      margin-left: 6px;
    }

    @include media('<tablet') {
      font-size: 12px;
    }
  }

  &__post-title {
    display: block;
    text-align: center;
    max-width: 786px;
    margin: 0 auto 45px;
    padding: 0 20px;

    h3 {
      font-size: 18px;
      font-weight: normal;
      @include media('<tablet') {
        font-size: 12px;
      }

    }
  }

  &__post-holder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
    padding: 0 20px;
    @include media('<tablet') {
      display: block;
      padding: 20px;
      margin-bottom: 0;
    }
  }

  &__post {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    max-width: 429px;

    @include media('<tablet') {
      font-size: 12px;
      padding-bottom: 20px;
      margin: 0 auto 20px auto;
      &:not(:last-child) {
        border-bottom: 1px solid #d7d7d7;
      }
    }

    strong {
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
      color: var(--color-darck-blue);
      padding-bottom: 7px;
      @include media('<tablet') {
        font-size: 13px;
      }
    }
  }

  &__btn-holder {
    border: 1px solid var(--color-darck-blue);
    position: relative;
    width: 170px;
    height: 50px;
    margin: 0 auto 53px;
    @include media('<tablet') {
      width: 141px;
      height: 42px;

    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: var(--color-darck-blue);
      text-decoration: none;
      transition: opacity 0.3s;
      @include media('<tablet') {
        font-size: 12px;
      }

      &:after {
        content: url("../../images/btn_arrow2.png");
        margin-left: 6px;
      }

      &:hover {
        opacity: 0.5;
      }

    }
  }

  &__card {
    @include media('<tablet') {
      margin: 0 auto;
    }
  }

  &__cards-holder {
    max-width: 591px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;

  }

  &__card-image-holder {
    margin-bottom: 8px;

    img {
      @include media('<tablet') {
        width: 83px;
      }
    }
  }

  &__card-res {
    @include media('<tablet') {
      display: none;
    }
  }

  &__card-title {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 5px;
    @include media('<tablet') {
      font-size: 14px;
      margin-bottom: 0;
    }

  }

  &__card-download {
    a {
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      color: var(--color-darck-blue);
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.5;
      }

      @include media('<tablet') {
        font-size: 12px;
      }
    }

    &:after {
      content: url("../../images/arrow_down.png");
    }
  }
}
