.services-section {
  margin-bottom: 71px;
  position: relative;
  @include media('<tablet'){
    margin-bottom: 34px;
  }

  &__title {
    @extend %title;
    @include media('<tablet'){
      margin-bottom: 0;
    }

    &-text {
      font-weight: 300;
    }
  }

  &__slider {
    max-width: 870px;

    margin: 65px 0 83px;
    @include media('<tablet') {
      margin-bottom: 35px;
      margin-top: 0;
    }
  }

  &__slider__slide-img {
    display: block;
    position: relative;
    height: 110px;
    width: 110px;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #769eca;


    @include media('<tablet') {
      margin: 0 9px 10px 0;
      height: 56px;
      width: 56px;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      @include media('<tablet') {
        width: 18px;
      }
    }
  }

  .slide-color {
    &-2, &-5 {
      background-color: #769eca;
    }

    &-3, &-6 {
      background-color: #1a3255;
    }

    &-4, &-7 {
      background-color: #6c6b86;
    }

    &-5, &-8 {
      background-color: #869bac;
    }
  }

  &__slider__slide-wrapper {
    @include media('<tablet') {
      display: contents;
      text-align: left;
    }
  }

  &__slider__slide-title-holder {
    max-width: 119px;
    @include media('<tablet') {
      max-width: 314px;
    }

    span {
      @include media('<tablet') {
        display: inline-block;
        font-size: 14px;
        padding-bottom: 10px;
      }
    }
  }

  &__btn-prev {
    &:after {
      content: url("../images/slider_arrow_left.png");
      position: absolute;
      bottom: -3px;
      left: -96px;
    }

    @include media('<desktop') {
      display: none;
    }
  }

  &__btn-next {
    &:after {
      content: url("../images/slider_arrow_left.png");
      position: absolute;
      bottom: 5px;
      right: -87px;
      transform: rotate(180deg);
    }

    @include media('<desktop') {
      display: none;
    }
  }

  .swiper__holder {
    position: relative;
    margin: 0 auto;
    max-width: 848px;
  }

  &__image-block {
    width: 100%;
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 300px;
    @include media('<tablet') {
      margin-bottom: 0;
      min-height: 150px;
      max-height: 150px;
    }

    img {
      width: 100%;
      min-height: 300px;
      max-height: 300px;
      object-fit: cover;
      @include media('<tablet') {
        min-height: 150px;
        max-height: 150px;
      }
    }
  }

  .swiper-wrapper {
    @include media('<tablet') {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 14px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media('<tablet') {
      margin-bottom: 8px;
      justify-content: flex-start;
      &:not(:last-child) {
        border-bottom: 1px solid #d7d7d7;
      }
    }
  }

}


