.tax {
  &__wrapper {
    padding-bottom: 80px;
    margin-bottom: 73px;
    @include media('<phone') {
      padding-bottom: 33px;
      margin-bottom: 33px;
    }
  }
  background-image: url(../images/banner2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  padding-top: 75px;
  @include media('<phone') {
    padding-top: 33px;
  }
  &__title {
    @include media('<phone') {
      margin-bottom: 14px;
    }
    &-text {
      color: var(--color-white);
      font-weight: normal;
    }
    &:after {
      margin-bottom: -4px;
    }
  }
  &__description {
    color: var(--color-white);
    display: inline-block;
    padding: 0 20px;
    font-size: 18px;
    @include media('<tablet') {
      font-size: 13px;
      max-width: 270px;
    }
  }
  &__info-holder {
    display: block;
    text-align: center;
  }
  &__btn {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    margin: 31px auto 0;
    background-color: transparent;
    border: 1px solid var(--color-white);
    padding: 15px 0;
    color: var(--color-white);
    text-decoration: none;
    transition: opacity 0.3s;
    @include media('<tablet') {
      width: 142px;
      font-size: 12px;
      margin: 17px 0 0;
      padding: 17px 0;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
