.welcome-section {
  margin-bottom: 100px;

  &__title {
    @extend %title;

    h1 {
      font-weight: 300;
      font-style: italic;
    }
  }

  &__post-title {
    display: block;
    text-align: center;
    max-width: 651px;
    margin: 0 auto 33px;

    & h3 {
      font-size: 18px;
      padding: 0 20px;
      @include media('<tablet') {
        font-size: 28px;
        font-weight: normal;
        text-align: center;
      }
    }
  }

  &__posts {
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;
    @include media('<tablet') {
      display: block;
    }
  }

  &__content {
    width: 100%;
    column-count: 2;
    column-gap: 25px;
    column-fill: balance;
    margin: 33px 0 0;

    @include media('<tablet') {
      column-count: 1;
      margin: 16px 0 0;
      font-size: 12px;
      line-height: 1.25;
      text-align: left;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
