// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  @include font-smoothing(on);
  color: var(--base-text-color);
  background: var(--color-white);
  font: var(--base-font-size) / var(--base-line-height) var(--base-font-family);
  min-width: var(--base-min-width);
}

.nav-open {
  @media (max-width: 980px) {
    overflow: hidden;
  }
}

// adaptive images
img {
  max-width: 100%;
  min-height: 1px;
  height: auto;
}

// google map fix
.gm-style img {
  max-width: none;
}

.container{
  max-width: var(--widescreen);
  margin: 0 auto;
}
