<!DOCTYPE html>
<html lang="en">
@@include('../partials/head/head.html')

<body>
  @@include('../partials/components/header.html')
  @@include('../partials/components/hero-section.html')
  @@include('../partials/components/welcome-section.html')
  @@include('../partials/components/services-section.html')
  @@include('../partials/components/management-section.html')
  @@include('../partials/components/tax-section.html')
  @@include('../partials/components/resources-section.html')
  @@include('../partials/components/subscribe-section.html')
  @@include('../partials/components/contact-us.html')
  @@include('../partials/components/questions-form.html')

  @@include('../partials/scripts/common.html')
</body>

</html>
