.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0;

  &__container {
    max-width: 1200px;

    padding: 0 30px;
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 17px;
    @include media('<phone'){
      align-items: flex-start;
    }

    &:after {
      content: "";
      width: 100%;
      border-bottom: 1px solid var(--color-main-grey);
      opacity: 0.25;

    }
  }

  &__nav-list {
    @extend %listreset;

    position: relative;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 8px;
    margin: 0 auto 20px auto;
    @include media('<phone') {
      padding: 0 0 18px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 250px;
      height: 1px;
      background-color: #769eca;
      transform: translateX(-50%);
      @include media('<tablet') {
        width: 100%;
        display: none;
      }
    }

    @include media('<phone') {
      width: 100%;
      max-width: 100%;
      display: block;
      column-count: 2;
      column-gap: 57px;
    }
  }

  li {
    margin-bottom: 6px;
    margin-right: 25px;
     @include media('<phone') {
        margin-right: 0;
    }
    
    @include media('<phone') {
      justify-content: flex-start;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: grey;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include media('<tablet') {
      font-size: 13px;
    }

    img {
      margin-right: 5px;
    }
  }

  &__links-list {
    @extend %listreset;

    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 28px;
    @include media('<tablet') {

      display: none;
    }
    @include media('<phone') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__links-link {
    color: #002e5f;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @include media('<tablet') {
      font-size: 13px;
    }
  }

  &__logo {
    display: block;
    margin: 0 0 6px;
    img{
      width: 92px;
    }
  }

  &__notes {
    font-size: 12px;
    text-align: center;
    margin: 0 0 15px;

    @include media('<phone') {
      font-size: 10px;
    }
  }
}
