<section class="contact">
  <div class="contact__wrapper container">
    <div class="contact__title title-section">
      <h1 class="contact__title-text">Contact Us</h1>
    </div>
    <div class="contact__sub-title">
      <h3 class="contact__sub-title-text">
        We’re based in London and have offices in key international financial centres. We also partner with outstanding
        professionals worldwide – so wherever you or your clients are, we can deliver the very best knowledge, resources
        and service.
      </h3>
    </div>
    <div class="contact__cards">
      <div class="contact__card">
        <div class="contact__card-image-holder">
          <img src="images/map.webp" alt="London">
        </div>
        <div class="contact__card-info">
          <div class="contact__card-title">
            <span>London - UK</span>
          </div>
          <div class="contact__card-address">
            <address>
            5th Floor <br>
            86 Jermyn Street <br>
            St James, London <br>
            SW1Y 6AW <br>
          </address>
          </div>
          <div class="contact__card-contacts">
              Telephone: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
              Facsimile: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
              Email: <a href="mailto:london@verfides.net"> london@verfides.net</a> <br>
          </div>
        </div>
      </div>
      <div class="contact__card">
        <div class="contact__card-image-holder">
          <img src="images/map.webp" alt="London">
        </div>
        <div class="contact__card-info">
          <div class="contact__card-title">
            <span>London - UK</span>
          </div>
          <div class="contact__card-address">
            <address>
              5th Floor <br>
              86 Jermyn Street <br>
              St James, London <br>
              SW1Y 6AW <br>
            </address>
          </div>
          <div class="contact__card-contacts">
            Telephone: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
              Facsimile: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
              Email: <a href="mailto:london@verfides.net"> london@verfides.net</a> <br>
          </div>
        </div>
      </div>
      <div class="contact__card">
        <div class="contact__card-image-holder">
          <img src="images/map.webp" alt="London">
        </div>
        <div class="contact__card-info">
          <div class="contact__card-title">
            <span>London - UK</span>
          </div>
          <div class="contact__card-address">
            <address>
              5th Floor <br>
              86 Jermyn Street <br>
              St James, London <br>
              SW1Y 6AW <br>
            </address>
          </div>
          <div class="contact__card-contacts">
            Telephone: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
            Facsimile: <a href="tel:+4402079307111">+ 44 (0)20 7930 7111</a> <br>
            Email: <a href="mailto:london@verfides.net"> london@verfides.net</a> <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
