<header class="hero-section">
  <div class="hero-section__wrapper">
    <div class="hero-section__video-container">
      <img src="images/hero-bg-image.jpg" alt="background image">
      <video
        class="hero-section__bg-video"
        src="images/Verfides_master_cut_titles.mp4"
        poster="images/poster.jpg"
        autoplay
        muted
        loop
      >

      </video>
    </div>
  </div>
  <div class="hero-section__title">
    <h1>Wealth structuring, preservation
      and protection.</h1>
  </div>
  <div class="hero-section__btn-go-bott">
    <a href="#welcome">
     <span>
       ↓
     </span>
    </a>
  </div>
  <div class="hero-section__pause-btn">
    <button>pause</button>
  </div>
</header>
