<section class="management-section">
  <div class="management-section__wrapper container ">
    <div class="management-section__title title-section">
      <h1 class="management-section__title-text">Management</h1>
    </div>
    <div class="management-section__person-cards">
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-social">
          <a  href="#">
            <img src="images/ln-icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-social">
          <a  href="#">
            <img src="images/ln-icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-social">
          <a  href="#">
            <img src="images/ln-icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-social">
          <a  href="#">
            <img src="images/ln-icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
    </div>
    <div class="btn-link">
      <a href="#">
        See All
        <span>→</span>
      </a>
    </div>
  </div>
</section>
