<section class="management-section">
  <div class="management-section__wrapper container ">
    <div class="management-section__title">
      <h1>Management</h1>
    </div>
    <div class="management-section__person-cards">
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-socio">
          <a href="#">
            <img src="images/ln_icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-socio">
          <a href="#">
            <img src="images/ln_icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-socio">
          <a href="#">
            <img src="images/ln_icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
      <div class="management-section__person-card">
        <div class="management-section__person-photo">
          <img src="images/Marco4.webp" alt="Marco Marano">
        </div>
        <div class="management-section__person-info">
          <span class="person__name">Marco Marano</span>
          <span class="person__position">Managing Director</span>
        </div>
        <div class="management-section__person-socio">
          <a href="#">
            <img src="images/ln_icon.png" alt="linkedin">
          </a>
          <a href="#">
            <img src="images/icon-email.png" alt="icon e-mail">
          </a>
          <span>vCard</span>
        </div>
      </div>
    </div>
    <div class="management-section__btn-holder">
      <a href="#">
        See All
        <img class="management-btn-arrow" src="images/arrow_down_download_icon.svg" alt="arrow">
      </a>
    </div>
  </div>
</section>
