<section class="questions-section">
  <div class="questions-section__container">
    <div class="questions-section__title title-section">
      <h1 class="questions-section__title-text">Questions?</h1>
    </div>
    <p class="questions-section__text">
      Feel free to send us an enquiry for an initial consultation.
    </p>
    <form class="questions-section__form">
      <p class="questions-section__note">
        Mandatory Fields*
      </p>
      <div class="questions-section__column">
        <input
          class="questions-section__input"
          type="text"
          placeholder="Name*"
        >
        <input
          class="questions-section__input"
          type="email"
          placeholder="Email Address*"
        >
        <input
          class="questions-section__input"
          type="tel"
          placeholder="Telephone*"
        >
      </div>
      <div class="questions-section__column">
        <textarea class="questions-section__textarea" placeholder="Enquairy*"></textarea> 
      </div>
    </form>
    <button class="btn questions-section__btn" type="submit">
      Submit <span>→</span>
    </button>
  </div>
</section>
