<section class="form-questions-section">
  <div class="form-questions-section__container">
    <div class="form-questions-section__title title-section">
      <h1 class="form-questions-section__title-text">Questions?</h1>
    </div>
    <p class="form-questions-section__text">
      Feel free to send us an enquiry for an initial consultation.
    </p>
    <form class="form-questions-section__form">
      <p class="form-questions-section__note">
        Mandatory Fields*
      </p>
      <div class="form-questions-section__column">
        <input
          class="form-questions-section__input"
          type="text"
          placeholder="Name*"
        >
        <input
          class="form-questions-section__input"
          type="email"
          placeholder="Email Address*"
        >
        <input
          class="form-questions-section__input"
          type="tel"
          placeholder="Telephone*"
        >
      </div>
      <div>
        <textarea class="form-questions-section__textarea" placeholder="Enquairy*">
        </textarea> 
      </div>
    </form>
    <button class="btn" type="button">
      Submit <span>→</span>
    </button>
  </div>
</section>
