<section class="resources">
  <div class="resources__wrapper">
    <div class="resources__title">
      <h1 class="resources__title-text title-section">Resources</h1>
    </div>
    <div class="resources__posts-holder">
      <div class="resources__post-title">
        <h3 class="resources__post-title-text">
          We regularly publish technical articles and guides on our website and in professional publications on various
          tax and structuring matters, including updates on developments in UK and international tax. Click “See All”
          below to view our full library.
        </h3>
      </div>
      <div class="resources__post-holder">
        <div class="resources__post">
          <strong class="resources__post-heading">
            Spain: ECJ Rules Inheritance Tax Discriminatory
          </strong >
          <p>
            The European Court of Justice (ECJ) has ruled that Spain is in breach of European Union treaties by imposing
            a
            higher rate of gift and inheritance taxes on non-residents.
          </p>
          <a class="resources__link" href="#">
            Read More
            <span class="resources__link-arrow">→</span>
          </a>
        </div>
        <div class="resources__post">
          <strong class="resources__post-heading">
            UK: Remittance Basis Restricted For Loan Collateral
          </strong>
          <p>
            HMRC has announced the sudden withdrawal of a concession whereby foreign income and gains used as loan
            collateral were not considered to have been remitted to the UK.
          </p>
          <a class="resources__link" href="#">
            Read More
            <span class="resources__link-arrow">→</span>
          </a>
        </div>
      </div>
    </div>
    <div class="btn-link">
      <a href="#">
        See All
        <span>→</span>
      </a>
    </div>
    <div class="resources__post-title">
      <h3 class="resources__post-title-text">
        Brochures Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h3>
    </div>
    <div class="resources__cards-holder">
      <div class="resources__card">
        <div class="resources__card-image-holder">
          <img src="images/card-image.jpg" alt="verFides Service Brochure 2015">
        </div>
        <div class="resources__card-title">
          verFides Service Brochure 2015
        </div>
       
          <a class="resources__card-download-link" href="#">
            Download PDF
          </a>
       
      </div>
      <div class="resources__card resources__card-res">
        <div class="resources__card-image-holder">
          <img src="images/card-image.jpg" alt="verFides Service Brochure 2015">
        </div>
        <div class="resources__card-title">
          verFides Service Brochure 2015
        </div>
        
          <a class="resources__card-download-link" href="#">
            Download PDF
          </a>
        
      </div>
    </div>
  </div>
</section>
