<section class="services-section container">
  <div class="services-section__title">
    <h1>Services</h1>
  </div>
  <!-- Slider main container -->
  <div class="swiper mySwiper services-section__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-1.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-2.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-3.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-4.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-5.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-6.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-7.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="services-section__slider__slide-img">
            <img src="images/icon-services-8.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
<!--  <div class="services-section-image">-->
<!--    <img src="https://via.placeholder.com/150" alt="some img">-->
<!--  </div>-->
</section>



