<section class="services-section ">
  <div class="services-section__title">
    <h1 class="services-section__title-text">Services</h1>
  </div>
  <div class="swiper__holder">
  <div class="swiper services-section__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-2 services-section__slider__slide-img">
            <img src="images/icon-services-1.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-3 services-section__slider__slide-img">
            <img src="images/icon-services-2.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-4 services-section__slider__slide-img">
            <img src="images/icon-services-3.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-5 services-section__slider__slide-img">
            <img src="images/icon-services-4.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-6 services-section__slider__slide-img">
            <img src="images/icon-services-5.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-7 services-section__slider__slide-img">
            <img src="images/icon-services-6.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-8 services-section__slider__slide-img">
            <img src="images/icon-services-7.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">Trust & Estate Planning</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="services-section__slider__slide-wrapper">
          <div class="slide-color-9 services-section__slider__slide-img">
            <img src="images/icon-services-8.png" alt="Trust & Estate Planning">
          </div>
          <div class="services-section__slider__slide-title-holder">
            <span class="services-section__slider__slide-title">
              Trust & Estate Planning
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="swiper-button-next services-section__btn-next"></div>
    <div class="swiper-button-prev services-section__btn-prev"></div>
  </div>
  <div class="services-section__image-block">
    <img src="images/banner2.webp" alt="services image">
  </div>
</section>



