<section class="subscribe-section">
  <div class="subscribe-section__container">
    <p class="subscribe-section__text">
      Register here for our mailing list and we will keep you up to date with news from
      Verfides.
    </p>
    <form class="subscribe-section__form">
      <input
        class="subscribe-section__input"
        type="text"
        placeholder="Name"
      >
      <input
        class="subscribe-section__input"
        type="email"
        placeholder="Email Address"
      >
    </form>
    <button class="btn" type="button">
      Submit <span>→</span>
    </button>
  </div>
</section>
