<section class="supervisory-section">
  <div class="supervisory-section__container">
    <div class="supervisory-section__title">
      <h1>Supervisory & Regulatory Bodies</h1>
    </div>

    <div class="supervisory-section__block">
      <p>
        Verfides is registered with and supervised by HM Revenue and Customs as a
        Trust and Company Service Provider ("TCSP") under The Money Laundering Regulations 2007.</p>
      <p>
        Verfides (Ireland) Limited and Verfides Trustees Limited are authorised by
        the Department of Justice and Equality of the Ministry of Justice to carry on Trust and Company Service Provider
        business in the Republic of Ireland under The Criminal Justice (Money Laundering and Terrorist Financing) Act
        2010.
      </p>
      <p>
        Verfides Group companies are registered with the IRS of the USA as Foreign
        Financial Institutions (FFI) and are fully compliant with legislation relating to US FATCA in all the
        jurisdictions where there is a local regulatory requirement.
      </p>
    </div>
  </div>
</section>
