<section class="tax">
  <div class="tax__wrapper">
    <div class="tax__title">
      <h1 class="tax__title-text">Tax at a Glance</h1>
    </div>
    <div class="tax__info-holder">
      <span class="tax__description">
        View international tax rates with our built-in feature.
      </span>
      <div class="tax__btn-holder">
        <a href="#" class="tax__btn">
          View Intl Tax Rates
          <span class="tax__btn-arrow">→</span>
        </a>
      </div>
    </div>
  </div>
</section>
