<section class="welcome-section container" id="welcome">
  <div class="welcome-section__wrapper">
    <div class="welcome-section__title title-section">
      <h1 class="welcome-section__title-text">Welcome to verFides</h1>
    </div>
    <div class="welcome-section__post-title ">
      <h3 class="welcome-section__post-title-text">
        We’re a professional advisor and provider of specialised services in the wealth
        management sector.
      </h3>
    </div>
    <div class="welcome-section__posts">
      <div class="welcome-section__content">
        <p>
          Our name is derived from two Latin words which express renewal and trust.
        </p>
        <p>
          Our mission is to live up to our name by combining a fresh approach with integrity and experience to offer a
          comprehensive and discreet service.
        </p>
        <p>
          Verfides originally started its operation in the early Seventies and during its existence it has been owned by
          multinational investment banks. Verfides is now independent and fully owned by its management. Our Management
          team brings together qualified and highly-respected professionals with longstanding experience in the provision
          of specialised services to private clients.
        </p>
        <p>
          Verfides has offices in key international financial centres. To extend our reach globally and deliver the very
          best knowledge and resources for the benefit of our clients, we also partner with outstanding professionals
          worldwide.
        </p>
        <p>
          We stress creativity and imagination in everything we do. Our mission is to live up to our name by combining a
          fresh approach with integrity and experience to offer a unique and dedicated service.
        </p>
        <p>
          We know that the needs of each client are unique and so we tailor our advice and solutions to their specific
          requirements. We always bring our commitment, excellence and enterprise to ensure outstanding service to all our
          clients. We pride ourselves on our experience and approachability.
        </p>
        <p>
          We understand that change is a fact of life and we welcome the challenges that change brings. We engage with
          our clients to develop the right response at the right time to benefit from the opportunities change presents.
          In an increasingly complex world we are proud to bring our expertise and commitment in providing outstanding
          services to our clients.
        </p>
        <p>
          Our knowledge and experience together with the business creativity of our clients is a powerful combination and
          makes Verfides a trusted partner and an experienced adviser.
        </p>
      </div>
    </div>
  </div>
</section>
